<!doctype html>
<html class="main-html">

<head>
    <title>Eventful</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
    
</head>
  
<body>   
    <div class="container">

        <div class="text-center">

            <div class="container">
                <a href="/login" class="button" href="#" style="--color:#1e9bff;">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <img src="img/connect.png">
                </a>
                </div>
            <!-- <a href="/login" class="btn btn-default button"><img src="img/connect.png"></a> -->

        </div>

    </div>

    <script type="text/javascript" src="main.js"></script>
</body>

</html>