/*
========================================================
Global
========================================================
*/
body {
  padding-top: 30px;
  word-wrap: break-word;
  background: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
}

.fa-trash:before {
  content: '\f00d'
}

/*
========================================================
Main Layout
========================================================
*/
img {
  height: 200px;
  border-radius: 50%;
  margin-right: 50px;
  margin-bottom: 20px;
}

section {
  border: 2px dashed black;
  padding: 20px;
  margin: 10px;
  float: left;
  width: 45%;
}
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.7rem;
}

.container {
  width: 95%;
  margin: auto;
}
.col-sm-6 {
  width: 100%;
}

.btn {
  margin-right: 10px;
}

#save-profile:hover {
  color: rgb(52,155,255)
}
/*
========================================================
Imported Stylings
========================================================
*/
section {
  border: 2px dashed black;
  padding: 20px;
  margin: 50px;
  margin-top: 10px;
  float: left;
  height: 200px;
  width: 42%;
  background: linear-gradient( rgb(117, 163, 192), rgb(182, 222, 222) 26.8%);
}