/*
========================================================
Global
========================================================
*/
body {
    padding-top: 30px;
    word-wrap: break-word;
    background: linear-gradient(95.2deg, rgba(173, 252, 234, 1) 26.8%, rgba(192, 229, 246, 1) 64%);
}

.fa-trash:before {
    content: '\f00d'
}

/*
  ========================================================
  Main Layout
  ========================================================
  */
  img {
    height: 150px;
    border-radius: 50%;
    margin: 50px 0 10px;
  }

section {
    border: 2px dashed black;
    padding: 20px;
    margin: 50px;
    margin-top: 10px;
    float: left;
    width: 90%;
    background: linear-gradient(95.2deg, rgb(182, 222, 222) 26.8%, rgb(117, 163, 192) 64%);
}

li {
    font-size: 2.2rem;
    margin-bottom: 50px;
}

span {
    font-size: 1.3rem;
    color: red;
}

span:hover {
    cursor: pointer;
}

a {
    text-decoration-line: none;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 50px;
}

.container {
    width: 95%;
    margin: auto;
}

.col-sm-6 {
    width: 100%;
}

.btn {
    margin-right: 10px;
}

#save-profile:hover {
    color: rgb(52, 155, 255)
}

form {
    font-size: 2rem;
}

label {
    margin-bottom: 20px;
}

input {
    font-size: 1.7rem;
    width: 100%;
    border: 1px solid gray;
    margin-bottom: 50px;
}

input[type="radio"] {
    display: inline-block;
    width: 5%;
}

button {
    display: block;
}

#socials {
    margin-top: 15px;
}

.page-header {
    height: 40vh;
    padding-top: 25px;
    background: rgba(117, 163, 192, .5);
  }

/*
  ========================================================
  Imported Stylings
  ========================================================
*/

@import url('https://fonts.googleapis.com/css?family=Parisienne|Quicksand&display=swap');

header {
	height: 100%;
  margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
}

.page-header {
	position: relative;
	width: 50%;
	min-width: 300px;
	height: 70px;
	border: 10px solid transparent;
	border-top: 10px solid #fffa;
	border-left: 10px solid #fffa;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
}
.page-header::after {
	content: '';
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30%;
	height: 70px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fffa;
	border-right: 10px solid #fffa;
	transition: 0.3s linear all;
}
.page-header > .logo {
	position: absolute;
	top: calc(50% - 20px);
	left: 10px;
	transform: translateY(-50%);
	color: #fffc;
	font-family: 'Parisienne', cursive;
	cursor: default;
	user-select: none;
}
.slider-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.slider-menu > li {
	display: inline-flex;
	padding: 14px;
	margin-left: 2px;
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
}
.slider-menu > li:hover {
	color: #faa;
	box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}