footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    background: lightblue;
    padding: 10px;
}

body {
    text-align:center;
}

header {
    margin-bottom: 50px;
}

li {
    list-style-position: inside;
}